<div class="modal-header">
    <h3 class="modal-title">
        Issues
        <counter singular="issue" plural="issues" value="(issues|filter:issueSearch).length" data-ng-show="issues"></counter>
    </h3>
</div>

<div class="modal-body" data-loading="issues">
    <form data-ng-show="issues">
        <div class="form-group has-feedback" data-ng-show="issues.length > 0">
            <input type="text" class="form-control" placeholder="Issue search" data-ng-model="issueSearch">
            <span class="text-muted form-control-feedback" data-ng-click="issueSearch = ''" data-ng-show="issueSearch">
                <i class="fa fa-times-circle"></i>
            </span>
        </div>
    </form>

    <div class="alert alert-warning" data-ng-show="issues && issues.length == 0">
        <i class="fa fa-bug fa-4x"></i>
        <h3>No more issue</h3>

        <p>There are no more issue to pin.</p>
    </div>

    <table class="table table-striped table-hover" data-ng-show="issues">
        <tbody>
        <tr data-ng-repeat="issue in issues | filter:issueSearch | orderBy:'-created_at' track by issue.id">
            <td data-ng-click="import(issue)">
                <strong>#{{ ::issue.iid }}</strong> - {{ issue.title }}

                <div style="margin-top: 15px;">
                    Created <moment datetime="::issue.created_at" data-tooltip-trigger data-tooltip="{{ ::issue.created_at|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment>
                    <strong class="pull-right">
                        {{ issue.milestone.title }}
                        <small><moment datetime="issue.milestone.due_date" data-tooltip="{{ issue.milestone.due_date|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment></small>
                    </strong>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
